html, body, #root, .App {
    height: 100%;
}

body {
    background-image: url("img/background.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* MenuBar Style */

.menuBar {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: flex-start;
    backdrop-filter: blur(5px);
    margin-top: 2%;
    border-radius: 3px;
    width: 90%;
    background-color: rgba(128, 128, 128, 0.4);
}

.menuBar a {
    transition: all .3s;
    text-decoration: none;
    font-size: 0.9vw;
    cursor: pointer;
}

.menuBar a:not(.menuBar a:first-child) {
    padding: 1%;
    color: black;
}

.menuBar a:hover {
    box-shadow: 0 0 15px rgb(128, 128, 128);
}

.menuBar a:first-child {
    padding: 1% 2% 1% 2%;
    color: white;
    border-radius: 3px;
    background-color: cadetblue;
}

.menuBar .selected {
    background-color: rgba(90, 90, 90, 0.4);
}

#logoutButton {
    transition: all .3s;
    padding: 1%;
    color: black;
    font-size: 0.9vw;
    cursor: pointer;
}

#logoutButton:hover {
    box-shadow: 0 0 15px rgb(128, 128, 128);
}

/* ContentWrap Style */
.ContentWrap {
    width: 100%;
    min-height: 95%;
}

/* MainContent Style */

.mainContent {
    display: flex;
    animation: MainContentAnimation .5s;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7%;
    width: 100%;
}

@keyframes MainContentAnimation {
    from { opacity: 0; }
    to { opacity: 100%; }
}

.Login {
    margin-top: 3%;
    backdrop-filter: blur(2px);
    background-color: rgba(128, 128, 128, 0.4);
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.Login span {
    margin-top: -10%;
}

.LoginForm {
    margin-top: 5%;
    width: 100%;
}

.Login, .LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginForm input {
    margin-top: 1%;
    border: 0;
    border-radius: 5px;
}

.LoginForm input[type="text"], .LoginForm input[type="password"] {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    width: 40%;
}

.LoginForm input[type="submit"] {
    transition: all .3s;
    cursor: pointer;
    background-color: rgba(81,137,123,0.86);
    color: white;
    width: 41.2%;
    margin-top: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.LoginForm input[type="submit"]:hover {
    background-color: rgba(129,193,178,0.86);
    color: black;
    box-shadow: 0 0 15px rgb(128, 128, 128);
}

/* MainContent: nul */

.nul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
}

.nulIntro {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    z-index: 0;
    flex-wrap: nowrap;
    backdrop-filter: blur(5px);
    padding: 1%;
    border-radius: 5px;
}

.nulIntroImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nulIntroImg img {
    border-radius: 5px;
    width: 20vw;
    max-width: 1000px;
}

.nulIntroDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
    width: 100%;
}

.nulIntroDescription header {
    font-size: 2vw;
    font-weight: bold;
    margin-top: -10%;
    padding-bottom: 5%;
}

.nulIntroDescription span {
    margin-left: 0.3%;
    font-size: 1vw;
}

.nulWho {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.nulWho > header {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1%;
    width: 100%;
}

.nulWhoUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -2%;
    width: 50%;
}

.nulWhoUser > header {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 1%;
}

/* MainContent: browse */

.contentAdd {
    transition: all .3s;
    position: absolute;
    right: 0;
    margin-right: 10%;
    margin-top: -2.5%;
    border-radius: 5px;
    font-size: 1vw;
    background-color: rgba(93, 138, 217, 0.4);
    padding: 1%;
    cursor: pointer
}

.contentAdd:hover {
    box-shadow: 0 0 15px rgb(128, 128, 128);
}

.browse {
    width: 100%;
}

.browse form {
    margin-left: 9.7%;
}

.browse form input {
    padding: 0.5%;
}

.browse form input[type="submit"] {
    transition: all .3s;
    margin-left: 1%;
    width: 5%;
    background-color: #5F92A0;
    border: 1px solid #5F92A0;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.browse form input[type="submit"]:hover {
    box-shadow: 0 0 15px rgb(128, 128, 128);
}

.browse form input[type="text"] {
    width: 19.8%;
}

.browseContentParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
}

.browseContent {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.browseContainer {
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.4);
    margin-left: 1%;
    padding: 1%;
    width: 30%;
    margin-top: 3%;
}

.browseContainer header {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5%;
}

.browseContainer span {
    font-size: 1.2vw;
    display: block;
}

.browseContainer:hover {
    box-shadow: 0 0 15px rgb(128, 128, 128);
}

/* CreateContent Style */

.CreateContent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.CreateContent form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.CreateContentForm {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.CreateContentForm span {
    font-size: 1.2vw;
    font-weight: bold;
    padding: 1%;
}

.CreateContent input {
    padding: 1%;
    width: 80%;
}

.CreateContentMenu {
    display: flex;
    justify-content: center;
}

.CreateContentMenu > div, .CreateContent input[type="submit"] {
    transition: all .3s;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

.CreateContentMenu > div:hover, .CreateContent input[type="submit"]:hover {
    box-shadow: 0 0 5px rgb(128, 128, 128);
}
.CreateContent input[type="submit"] {
    width: 30%;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(95, 146, 160, 0.5);
}

.CreateContentMenu > div {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 1%;
}

.CreateContentEditor {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 2%;
    width: 90%;
}

/* ViewContent Style */

.ViewContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ViewContentTitle {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.ViewContentTitle header {
    font-size: 2vw;
    font-weight: bold;
}

.ViewContentTitle span:not(.ViewContentTitle > span) {
    font-size: 1.2vw;
}

.ViewContentTitle > span {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 0.4%;
    width: 50%;
}

.ViewContentTitle a {
    transition: all .3s;
    text-decoration: none;
    margin-left: 1%;
    color: black;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 1%;
    margin-bottom: 1%;
    font-size: 1vw;
    cursor: pointer;
}

.ViewContentTitle a:hover {
    box-shadow: 0 0 10px rgb(128, 128, 128);
}

.ViewContentDetail {
    width: 100%;
    height: 100%;
}

/* Final Style */

footer {
    display: flex;
    position: relative;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.4);
    backdrop-filter: blur(3px);
    width: 100%;
}

footer header, footer span {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1vw;
}

footer header {
    padding-left: 5%;
}

footer span {
    margin-left: 55%;
    text-shadow: 0 0 5px rgb(50, 90, 20);
    font-size: 1vw;
}